html, body {
  /* background-color: black; */
  /* color: greenyellow; */
  height: 100%;
}

#root {
  display: flex;
  height: 100%;
}
/*
.App {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.lease-component {
  display: flex;
  flex-direction: column;
  width: 25%;
} */